<h1>Your favorite campsites are:</h1>
<% @favorites.each do |fav| %>
<p>
	<h3><%= fav.campsite.name %></h3>
	<%= fav.campsite.address %></br>
	<%= fav.campsite.description %></br>
	<%= fav.note %>
</p>
<% end %>