<div class='block'>
    <h1> Welcome to RVroutes!</h1>

    <h2><%= link_to "Sing up", signup_path %></h2>
    <h2><%= link_to "Log in", login_path %></h2>
    <h2><%= link_to "Log in via GOOGLE", '/auth/google_oauth2' %></h2>
</div>
